/* Custom Properties */
:root {
  --clr-accent: rgba(205,207,195, 40%)
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Libre Baskerville', serif;
  scroll-behavior: smooth;
}

#navbar {
  background-color: var(--clr-accent); /* Green background color */
  position: fixed; /* Make it stick/fixed */
  top: -200px; /* Hide the navbar 50 px outside of the top view */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  padding: 1em;
}

.inner-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-left img{
  width: 15em;

}

.nav-mid a{
  margin: 1em;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-mid a:hover {
  color: white;
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-right img {
  margin-right: 1em;
}

.nav-right button {
  color: white;
  background-color: black;
  padding: 1.5em;
  border-radius: 0.5em;

}


/* End of Nav */

/* Start of Home */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(/assets/imgs/home-bg.jpg);
}

.hero h1, .hero p{
  text-align: center;
  color: white;
  margin-top: 4em;
  text-shadow: 1px 1px 1px black;
}

.hero h1 {
  font-size: 3em;
  width: 20em;
}

.hero p {
  font-size: 1.5em;
  width: 40em;
}



/* End of Home */


/* banner */
.quote-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--clr-accent);
  color: black;
  height: 15em;
  text-align: center;
}

.quote-banner p {
  color: black;
}

/* End of banner */


/* Start of About Us */
.about-us{
  height: 50em;
  border: red solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* End of about Us */

/* Start of services */

/* End of services */


/* Our work */

/* end of work */

/* Contact */

/* end of contact */


/* Footer */


/* End of Footer */


/* --------- END OF MAIN PAGE --------------- */