:root {
  --clr-accent: rgba(205,207,195, 40%)
}

* {
  box-sizing: border-box;
  margin: 0;
}

#navbar {
  background-color: var(--clr-accent); /* Green background color */
  position: fixed; /* Make it stick/fixed */
  top: -200px; /* Hide the navbar 50 px outside of the top view */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

.inner-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-left img{
  width: 15em;

}

.nav-mid a{
  margin: 1em;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-right {

}

.nav-right button {
  color: white;
  background-color: black;
  padding: 1em;
  border-radius: 0.5em;
}


/* End of Nav */

/* Start of Home */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: solid black ;
}



/* End of Home */


/* Start of About Us */
.about-us{
  height: 100vh;
  border: red solid;
}

/* End of about Us */